/* Layout.css */
.layout {
    min-height: 100vh;
    background-image:
      radial-gradient(40.87% 69.47% at 85.87% 31.98%, rgba(3, 255, 104, 0.09) 0%, rgba(121, 255, 175, 0.00) 100%),
      radial-gradient(54.34% 45.76% at 15.8% 49.94%, rgba(69, 3, 255, 0.20) 0%, rgba(69, 3, 255, 0.00) 100%),
      linear-gradient(to right, #01100F, #01100F);
    background-attachment: fixed;
    background-color: #01100F; /* Fallback color */
    color: #fff; /* Example text color */
    font-family: 'Arial', sans-serif; /* Example font */
  }
  